.alert {
  width: 300px;
  border-radius: $btn-border-radius;
  padding: $btn-padding-y $btn-padding-x;
  color: white;

  &.alert-warning {
    background-color: $warning;
  }

  &.alert-default {
    background-color: $primary;
  }

  &.alert-danger {
    background-color: $danger;
  }

  &.alert-success {
    background-color: $success;
  }

  .alert-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $btn-font-size-lg;
    font-weight: $btn-font-weight;

    .alert-header-right {
      cursor: pointer;
    }
  }

  .alert-description {
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
  }
}
