.outer {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;

  .inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 0, 221);

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
  }
}
