.simple-wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;

  .simple-top {
    height: 300px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
  }

  .simple-middle {
    height: 400px;
    padding: 20px;
    border: 1px solid green;
    margin-bottom: 20px;
  }

  .simple-bottom {
    height: 300px;
    padding: 20px;
    border: 1px solid blue;

    img {
      width: auto;
      height: 50px;
      margin-bottom: 30px;
    }
  }
  .item {
    border: 1px solid red;
    padding: 20px;
    margin-bottom: 20px;
  }
}