.tree-wrapper {
  padding: 20px 25px;
  .tree-item {
    display: flex;
    align-items: center;
    position: relative;

    .tree-item-icon {
      position: absolute;
      right: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-right: 5px;
    }


    .tree-item-checkbox-wrapper {
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      >input {
        width: 18px;
        height: 18px;
      }
    }
  }
}
